<nav class="navbar" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" id="navbar-brand">YemekleBeni</a>
      <div class="search-and-categories">
        <!-- Kategoriler Düğmesi -->
        <div class="categories-dropdown">
          <button class="categories-btn">Kategoriler</button>
          <div class="categories-menu">
            <!-- Kategori Satırları -->
            <div class="category-row">
              <!-- Kategori Öğeleri -->
              <a href="{% url 'ana_yemekler' %}" class="category-item">Ana Yemekler</a>
              <a href="{% url 'sicak_corbalar' %}" class="category-item">Sıcak Çorbalar</a>
              <a href="{% url 'geleneksel_yemekler' %}" class="category-item">Geleneksel Yemekler</a>
              <a href="{% url 'deniz_urunleri' %}" class="category-item">Deniz Ürünleri</a>
            </div>
            <div class="category-row">
              <a href="{% url 'ozel_gun_menu' %}" class="category-item">Özel Gün Menüleri</a>
              <a href="{% url 'vejetaryen' %}" class="category-item">Vejetaryen</a>
              <a href="{% url 'fast_food' %}" class="category-item">Fast Food</a>
              <a href="{% url 'cocuk_menu' %}" class="category-item">Çocuk Menüsü</a>
            </div>
            <div class="category-row">
              <a href="{% url 'tatlilar' %}" class="category-item">Tatlılar</a>
              <a href="{% url 'atistirmaliklar' %}" class="category-item">Atıştırmalıklar</a>
              <a href="{% url 'saglikli_secenekler' %}" class="category-item">Sağlıklı Seçenekler</a>
              <a href="{% url 'icecekler' %}" class="category-item">İçecekler</a>
            </div>
          </div>
        </div>
        <!-- Arama Formu -->
        <form class="d-flex" role="search" method="get" action="{% url 'search_results' %}">
          <input class="form-control me-2" type="search" id="aramakutusu" name="q" placeholder="Arama" aria-label="Search">
          <button class="btn-mor" type="submit">Arama</button>
      </form>      
        <!-- Giriş Yap Butonu -->
        <a class="giris-yap-btn" style="margin-left: 30px;">Giriş Yap</a>
      </div>
    </div>
  </nav>
  



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const navbarBrand = document.getElementById('navbar-brand');
        const navbar = document.getElementById('navbar');
        const AramaKutu = document.getElementById('aramakutusu');
      
        // Navbar üzerine gelindiğinde markanın metnini ve arama kutusu placeholder'ını değiştir
        navbar.addEventListener('mouseover', function() {
            navbarBrand.textContent = "YemeklusBenicia 🪄";
            AramaKutu.placeholder = 'Aramohora';
        });
      
        // Navbar'dan ayrıldığında markanın orijinal metni ve arama kutusu placeholder'ı geri gelsin
        navbar.addEventListener('mouseout', function() {
            navbarBrand.textContent = "YemekleBeni";
            AramaKutu.placeholder = 'Arama';
        });
      });
      
</script>

