
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    margin: 10px;
    width: 300px; /* Kart genişliği */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.card-body {
    padding: 10px;
}

.card-body h2 {
    font-size: 18px;
    margin: 0;
}

.card-body p {
    font-size: 14px;
    color: #666;
}
